{% extends "layout.html" %}
{% block content %}
    {% if is_friend and lines %}
        {% if lines %}   
            <table class="table">
                <tr>
                    <th class="id-col">Numer</th>
                    <th>Opis</th>
                    <th>Status</th>
                    <th class="id-col"></th>
                </tr>
            {% for line in lines %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ line.line_content }}</td>
                    {% if line.taken == False %}
                        <td>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1"
                            href="{{ url_for('letters.take_letter_line', letter_line_id=line.line_id) }}">
                            Zarezerwuj</a>
                        </td>  
                    {% else %}
                        <td>
                            Zarezerwowane przez: {{ line.line_taker.identifier }}
                        </td>        
                    {% endif %}            
                </tr>
            {% endfor %}
            </table>
        {% endif %}      
    {% elif is_friend and not lines %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">
                Ten użytkownik nie napisał jeszcze listu.
            </h2>
        </div>            
    </article>   
    {% else %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">
                Ten użytkownik nie jest Twoim znajomym. <br>
                Dodaj go do znajomych żeby widzieć jego list.
            </h2>
        </div>            
    </article>    
    {% endif %}    
{% endblock content %}