{% extends "layout.html" %}
{% block content %}
    {% for request in requests %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="/">{{ request.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
                </div>
                <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}