{% extends "layout.html" %}
{% block content %}
    {% if is_friend and lines %}
        {% if lines %}   
            <table class="table">
                <tr>
                    <th>Opis</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            {% for line in lines %}
                <tr>
                    <td>{{ line.line_content }}</td>
                    {% if line.taken == True %}
                        <td>Zajęte</td>
                    {% else %}
                        <td>
                            Dwa przyciski tutaj
                        </td>        
                    {% endif %}
                    <td>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="/">Zarezerwuj</a>
                    </td>              
                </tr>
            {% endfor %}
            </table>
        {% endif %}      
    {% elif is_friend and not lines %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">
                Ten użytkownik nie napisał jeszcze listu.
            </h2>
        </div>            
    </article>   
    {% else %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">
                Ten użytkownik nie jest Twoim znajomym. <br>
                Dodaj go do znajomych żeby widzieć jego list.
                {{ is_friend }} {{ letter }} {{ friend_id }}
            </h2>
        </div>            
    </article>    
    {% endif %}    
{% endblock content %}