{% extends "layout.html" %}
{% block content %}
    {% if letter %}
        <article class="media content-section">
            <div class="media-body">
                <h2 class="article-title">{{ letter.title }}</h2>
                <p class="article-content">{{ letter.content }}</p>
                <div class="article-metadata">
                    <small class="text-muted">Ostatnia aktualizacja {{ letter.date_posted.strftime('%d.%m.%Y') }}</small>
                    {% if letter.author == current_user or 'Admin' in current_user.roles_names %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="/">Aktualizuj</a>
                            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Usuń</button>
                        </div>
                    {% endif %}
                </div>
            </div>
            
        </article>
    {% else %}
        <div>
            <a class="btn btn-primary btn-lg btn-block mb-3" href="{{ url_for('letters.new_letter') }}">Nowy list</a>
        </div>
    {% endif %}
    
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete the letter?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action ="{{ url_for('letters.delete_letter') }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            </div>
        </div>        
    </div>
{% endblock content %}